<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}首页{% endblock %} -StubbornFish的博客</title>
</head>
<body>
    <div>顶部分类：
        {% for item in navs %}
        <a href="/category/{{ item.id }}/">{{ item.name }}</a>
        {% endfor %}
    </div>
    <hr />

    {% block main %}
    {% endblock %}

    <hr />

    <div>底部分类：
        {% for item in catogories %}
        <a href="/category/{{ item.id }}/">{{ item.name }}</a>
        {% endfor %}
    </div>
    <hr/>

    <div>侧边栏：
        {% for item in sidebars %}
        <h4>{{ item.title }}</h4>
        {{ item.contents }}
        {% endfor %}
    </div>
</body>
</html>

